In [17]:
print('We are using part B with 3 layer and 10 nodes')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

We are using part B with 3 layer and 10 nodes

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [3]:
concrete_data_columns = concrete_data.columns

In [4]:
X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
Y = concrete_data['Strength'] # Strength column

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.3)

In [6]:
X.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000

In [7]:
X_train.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,281.235368,73.897226,52.933148,181.274896,6.230513,975.031623,774.070735,45.886269
std,103.810030,86.430497,63.836241,21.068405,6.062548,77.736046,80.738941,64.140630
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,3.000000
25%,192.000000,0.000000,0.000000,164.900000,0.000000,932.000000,734.000000,7.000000
50%,275.100000,20.000000,0.000000,185.000000,6.200000,968.000000,780.000000,28.000000
75%,350.000000,145.000000,118.300000,192.000000,10.400000,1031.000000,824.000000,56.000000
max,540.000000,342.100000,200.100000,237.000000,32.200000,1145.000000,992.600000,365.000000

In [8]:
predictors_train_norm = ((X_train - X_train.mean())/X_train.std())
predictors_test_norm = ((X_test - X_test.mean())/X_test.std())

In [9]:
target_train_norm = ((Y_train - Y_train.mean())/Y_train.std())
target_test_norm = ((Y_test - Y_test.mean())/Y_test.std())

In [10]:
n_cols = predictors_train_norm.shape[1]

In [11]:
n_cols

8

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
import tensorflow as tf

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [16]:
def regression_model():
    model =keras.Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation= 'relu'))
    model.add(Dense(10, activation= 'relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model
model = regression_model()
model.fit(predictors_train_norm, target_train_norm, validation_split=0.3, epochs =50, verbose=1) #now changing the epoch to 100 for partC

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 1s 2ms/step - loss: 1.1187 - val_loss: 0.8760
Epoch 2/50
504/504 [==============================] - 0s 438us/step - loss: 0.9969 - val_loss: 0.8004
Epoch 3/50
504/504 [==============================] - 0s 672us/step - loss: 0.9239 - val_loss: 0.7494
Epoch 4/50
504/504 [==============================] - 0s 525us/step - loss: 0.8652 - val_loss: 0.7079
Epoch 5/50
504/504 [==============================] - 0s 481us/step - loss: 0.8117 - val_loss: 0.6642
Epoch 6/50
504/504 [==============================] - 0s 468us/step - loss: 0.7526 - val_loss: 0.6145
Epoch 7/50
504/504 [==============================] - 0s 561us/step - loss: 0.6925 - val_loss: 0.5614
Epoch 8/50
504/504 [==============================] - 0s 482us/step - loss: 0.6292 - val_loss: 0.5105
Epoch 9/50
504/504 [==============================] - 0s 516us/step - loss: 0.5704 - val_loss: 0.4637
Epoch 10/50
504/504 [==============================] - 0s 511us/step - loss: 0.5245 - val_loss: 0.4257
Epoch 11/50
504/504 [==============================] - 0s 526us/step - loss: 0.4806 - val_loss: 0.3904
Epoch 12/50
504/504 [==============================] - 0s 484us/step - loss: 0.4462 - val_loss: 0.3687
Epoch 13/50
504/504 [==============================] - 0s 598us/step - loss: 0.4160 - val_loss: 0.3464
Epoch 14/50
504/504 [==============================] - 0s 506us/step - loss: 0.3896 - val_loss: 0.3268
Epoch 15/50
504/504 [==============================] - 0s 549us/step - loss: 0.3698 - val_loss: 0.3103
Epoch 16/50
504/504 [==============================] - 0s 513us/step - loss: 0.3522 - val_loss: 0.2980
Epoch 17/50
504/504 [==============================] - 0s 474us/step - loss: 0.3412 - val_loss: 0.2880
Epoch 18/50
504/504 [==============================] - 0s 476us/step - loss: 0.3282 - val_loss: 0.2768
Epoch 19/50
504/504 [==============================] - 0s 550us/step - loss: 0.3211 - val_loss: 0.2666
Epoch 20/50
504/504 [==============================] - 0s 513us/step - loss: 0.3121 - val_loss: 0.2622
Epoch 21/50
504/504 [==============================] - 0s 519us/step - loss: 0.3045 - val_loss: 0.2531
Epoch 22/50
504/504 [==============================] - 0s 509us/step - loss: 0.2959 - val_loss: 0.2495
Epoch 23/50
504/504 [==============================] - 0s 481us/step - loss: 0.2913 - val_loss: 0.2449
Epoch 24/50
504/504 [==============================] - 0s 744us/step - loss: 0.2844 - val_loss: 0.2403
Epoch 25/50
504/504 [==============================] - 0s 519us/step - loss: 0.2808 - val_loss: 0.2350
Epoch 26/50
504/504 [==============================] - 0s 708us/step - loss: 0.2763 - val_loss: 0.2311
Epoch 27/50
504/504 [==============================] - 0s 520us/step - loss: 0.2703 - val_loss: 0.2281
Epoch 28/50
504/504 [==============================] - 0s 626us/step - loss: 0.2648 - val_loss: 0.2253
Epoch 29/50
504/504 [==============================] - 0s 561us/step - loss: 0.2605 - val_loss: 0.2230
Epoch 30/50
504/504 [==============================] - 0s 520us/step - loss: 0.2559 - val_loss: 0.2178
Epoch 31/50
504/504 [==============================] - 0s 510us/step - loss: 0.2520 - val_loss: 0.2185
Epoch 32/50
504/504 [==============================] - 0s 515us/step - loss: 0.2489 - val_loss: 0.2159
Epoch 33/50
504/504 [==============================] - 0s 481us/step - loss: 0.2438 - val_loss: 0.2128
Epoch 34/50
504/504 [==============================] - 0s 543us/step - loss: 0.2405 - val_loss: 0.2100
Epoch 35/50
504/504 [==============================] - 0s 519us/step - loss: 0.2358 - val_loss: 0.2085
Epoch 36/50
504/504 [==============================] - 0s 599us/step - loss: 0.2333 - val_loss: 0.2056
Epoch 37/50
504/504 [==============================] - 0s 557us/step - loss: 0.2289 - val_loss: 0.2041
Epoch 38/50
504/504 [==============================] - 0s 515us/step - loss: 0.2256 - val_loss: 0.2026
Epoch 39/50
504/504 [==============================] - 0s 524us/step - loss: 0.2249 - val_loss: 0.1993
Epoch 40/50
504/504 [==============================] - 0s 548us/step - loss: 0.2201 - val_loss: 0.1986
Epoch 41/50
504/504 [==============================] - 0s 511us/step - loss: 0.2163 - val_loss: 0.1968
Epoch 42/50
504/504 [==============================] - 0s 557us/step - loss: 0.2129 - val_loss: 0.1937
Epoch 43/50
504/504 [==============================] - 0s 522us/step - loss: 0.2095 - val_loss: 0.1917
Epoch 44/50
504/504 [==============================] - 0s 542us/step - loss: 0.2078 - val_loss: 0.1891
Epoch 45/50
504/504 [==============================] - 0s 557us/step - loss: 0.2022 - val_loss: 0.1881
Epoch 46/50
504/504 [==============================] - 0s 472us/step - loss: 0.1978 - val_loss: 0.1838
Epoch 47/50
504/504 [==============================] - 0s 522us/step - loss: 0.1939 - val_loss: 0.1788
Epoch 48/50
504/504 [==============================] - 0s 566us/step - loss: 0.1901 - val_loss: 0.1784
Epoch 49/50
504/504 [==============================] - 0s 515us/step - loss: 0.1854 - val_loss: 0.1763
Epoch 50/50
504/504 [==============================] - 0s 521us/step - loss: 0.1818 - val_loss: 0.1744

In [14]:
from sklearn import metrics
import numpy as np
target_pred = model.predict(predictors_test_norm)
mserrD = metrics.mean_squared_error(target_test_norm, target_pred)
r2_scoresD = metrics.r2_scores = metrics.r2_score(target_test_norm, target_pred)
print('mserrA: {:.2f}'.format(mserrD))
print('mse_StdDev: {:.2f}'.format(r2_scoresD))
print('R^2_Mean: {:.2f}'.format(np.mean(r2_scoresD)))
print('R^2_StdDev: {:.2f}'.format(np.std(r2_scoresD)))

mserrA: 0.18
mse_StdDev: 0.82
R^2_Mean: 0.82
R^2_StdDev: 0.00